// Cosas en generales
*{
    margin: 0px;
    padding: 5px;
}

h1{
    color: rgb(0, 0, 0);

}

h2{
    color: rgb(0, 0, 0);
}

.carousel-control-prev{
    opacity: 3.5;
}

.carousel-control-next{
    opacity: 3.5;
}