@media (min-width:768px){

    header{
        background-position: center left;
        background-repeat: no-repeat; 
        background-size: 118%;
        background-color: #E6CCB2;
        list-style: none;  
        overflow: hidden;
        font-size: 130%;
    }
    
    ul{
        margin-top: 2%;
    }

    li{
        position:relative; left: 10px;
        font-size: 90%;
    }

    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .divindex{
        margin-top: 2%;
        font-size: 96%;
    }

    .carrusel{
        margin-right: 4%;
    }

    section{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    footer{
        background-position: center bottom -3cm;
    }

    .formulario{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .corazon{
        overflow: hidden;
        justify-items: end;
        margin: 3px;
        margin-left: 0px;
        width: 133%;
        padding: 0px;
    }

    .textonuestrocafe{
        margin: 1px;
        margin-top: 2%;
        text-align: center;
        font-size: 100%;
        padding: 0px;
    }

    .carrusel2{
        width: 95%;
        margin-top: 2%;
        overflow: hidden;
        justify-content: center;
        position: relative; left: 0%;
    }

    .cafes{
        justify-content: center;
        margin-top: 1%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .main2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        font-size: 135%;
    }

    .section2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        font-size: 100%;
    }

    .iconos {
        display: inline;
        width: 9%;
    }

    .producto {
        width: 70%;
        transition: all 2s;
    }

    .carousel-item {
        position: relative; left: 4%;
        display: none;
        float: left;
        width: 100%;
        margin-right: -100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: transform .6s ease-in-out;
    }

    .textonuestrocafe2{
        margin: 1px;
        margin-top: 3%;
        font-size: 160%;
        text-align: left;
        padding: 0px;
    }

    .textoEventos{
        text-align: center;
    }

    .eventofoto{
        width: 90%;
    }
}
