section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: section;
    width: 100%;
    background-color:#E6CCB2;
    text-align: center;
    font-style: initial;
    font-size: 160%;
    .formulario{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        background-color:#E6CCB2;
        text-align:center;
        font-style: initial;
        font-size: 140%;
        margin-top: 0%;
    }
    .corazon{
        overflow: hidden;
       
    }
    
}

.divindex{
    margin-top: 6%;
    text-align: justify;
    .video{
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        
    }
 }

section{
    .cafes{
        justify-content: center;
        margin: 0%;
        padding: 0%;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .textonuestrocafe2{
        padding: 0px;
    }

}

@mixin medidasfotos ($width){
    width: $width;
}

.chipa{
    @include medidasfotos (100%);
}

@mixin medidastexto ($text-align,$font-size,$background-color){
    text-align: $text-align;
    font-size: $font-size;
    background-color: $background-color;
}

.textoMixin{
    @include medidastexto(center, 145%,#7f5539)
}


