
@import "generales";
@import "main";
@import "header";
@import "seccion";
@import "footer";
@import "resolucion405x";
@import "resolucion768x";
@import "resolucion1916x";


.textto{
    margin-top: 15%;}      


body{
    display: grid;
    grid-template-areas:
    "header" 
    "main" 
    "section" 
    "footer"
    ;}