*{
    margin: 5px;
    padding: 1px;
}

h1{
    color: rgb(0, 0, 0);

}

h2{
    color: rgb(0, 0, 0);
}

header{
    display: grid;
    grid-template-columns: 1fr;
    grid-area: header;
    background-image: url(../Imagenes/horizontal-banner-cup-coffee-beans-260nw-1803607621.webp);
    width: 100%;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center bottom -6cm; 
    background-size: 100%;
    background-color: #E6CCB2;
    list-style: none;  
    overflow: hidden;
    margin: 5px;
    padding: 5px;
}

nav{
    background-position: center;
   }


ul{
    background-position: center;
    position: relative;
    grid-area: nav;
}
li{
    grid-area: nav;
    position:relative; left: 160px;
    display: inline;
}

li:hover{
    font-size: 200%;

}

a{
    
    background-color: none;
    text-decoration: none;
    font-weight:bold;
    transition: all 2s;
    font-size: 100%;
    color:#E6CCB2
}

a:hover{
    font-size: 150%;
    color:#E6CCB2
}

main{
    display: grid;
    grid-template-rows: 660px ;
    grid-template-columns: 1fr 1fr;
    grid-area: main;
    width: 100%;
    background-color:#E6CCB2;
    text-align: center;
    font-style: initial;
    font-size: 150%;
}

.cafe{
    background-size: 1000px;
    margin: 0px;
    padding: 1px;
    width: 843px;
    height: 533px;
   
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: section;
    width: 100%;
    background-color:#E6CCB2;
    text-align: center;
    font-style: initial;
    font-size: 160%;
    
    
}

.formulario{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    background-color:#E6CCB2;
    text-align:center;
    font-style: initial;
    font-size: 140%;
    margin-top: 0%;
    
}

.corazon{
    overflow: hidden;
    justify-items: end;
    margin: -1px;
    margin-left: 1px;
    width: 110%;
    padding: 0px;
}

.divindex{
    margin-top: 6%;
    text-align: justify;
}

.textto{
    margin-top: 15%;
}

.video{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    
}

.carta{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color:#E6CCB2;
    text-align:center;
    font-style: initial;
    font-size: 140%;
    margin: 10px;
    padding: 1;
}

.producto{
    margin: 1px;
    width: 40%;
    padding: 0px;
    transition: all 2s;
}
.producto:hover{
    width: 50%;
}

.textocarta{
    margin: 1px;
    font-size: 100%;
    padding: 0px;
}
footer{
    display: grid;
    grid-template-columns: 100%;
    grid-area: footer;
    background-image: url(../Imagenes/cabecera\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center bottom -8cm; 
    background-color: #E6CCB2;
    width: 100%;
    height: 90px;
    background-size: 100%;
    overflow: hidden;
}

body{
    display: grid;
    grid-template-areas:
    "header" 
    "main" 
    "section" 
    "footer"
    ;
}

.carrusel{
    margin-right: 5%;
}

.carrusel2{
    width: 95%;
    margin-top: 15%;
    overflow: hidden;
    justify-content: center;
    position: relative; left: 0%;
}
.divvaso{display: flex;}

.cafes{
    justify-content: center;
    margin: 0%;
    padding: 0%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.textonuestrocafe{
    margin: 1px;
    margin-top: 7%;
    text-align: left;
    font-size: 160%;
    padding: 0px;
}

.textonuestrocafe2{
    margin: 1px;
    margin-top: 7%;
    text-align: left;
    font-size: 130%;
    padding: 0px;
}

.bg-light{
    --bs-bg-opacity: 0;
}

.container-fluid{
    display: flex;
    align-items: center;
}

.navbar-letras{
    color: #E6CCB2;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.carrusel3{
    margin: 1%;
    padding: 1%;
    position: relative; left: 20%;
    width: 45%;
    overflow: hidden;
}

.carousel-control-prev{
    opacity: 3.5;
}

.carousel-control-next{
    opacity: 3.5;
}

@media (min-width:320px){
    
    header{
        background-position: center left;
        background-repeat: no-repeat; 
        background-size: 115%;
        background-color: #E6CCB2;
        list-style: none;  
        overflow: hidden;
    }

    li{
        position:relative; left: -30px;
        font-size: 90%;
        text-align: left;
        
    }

    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr; 
    }

    .divindex{
        margin-top: 0%;
        text-align: justify;
        font-size: 60%;
    }

    .carrusel{
        margin: 1%;
        position: relative; left: -4%;
        width: 100%;
        overflow: hidden;
    }


    .carousel-control-prev {
        left: 14px;
    }

    section{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr;
        font-size: 150%;
    }

    .video{
        margin: 0px;
        padding: 0px;
        height: 100%;
    }

    footer{
        background-size: 100%;
        background-position: left 50%
    }

    .iconos{
        display: block;
        width: 13%;
    }

    .producto {
        width: 100%;
        transition: all 2s;
    }

    .carta{
        text-align: center;
        font-style: initial;
        font-size: 100%;
    }

    .formulario{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;}

    .corazon{
        overflow: hidden;
        justify-items: end;
        margin: 0px;
        margin-left: 0px;
        width: 100%;
        padding: 0px;
    }

    .carta{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }   

    .main2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ; 
        font-size: 65%;
    }

    .carrusel2{
        width: 95%;
        height: 95%;
        margin-top: 2%;
        overflow: hidden;
        justify-content: center;
        position: relative; left: 0%;
    }

    .section2{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr;
        font-size: 90%;
        
    }
}

@media (min-width:768px){
    header{
        background-position: center left;
        background-repeat: no-repeat; 
        background-size: 118%;
        background-color: #E6CCB2;
        list-style: none;  
        overflow: hidden;
        font-size: 130%;
    }
    
    ul{
        margin-top: 2%;
    }

    li{
        position:relative; left: 10px;
        font-size: 90%;
    }

    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .divindex{
        margin-top: 2%;
        font-size: 96%;
    }

    .carrusel{
        margin-right: 4%;
    }

    section{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    footer{
        background-position: center bottom -3cm;
    }

    .formulario{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .corazon{
        overflow: hidden;
        justify-items: end;
        margin: 3px;
        margin-left: 0px;
        width: 130%;
        padding: 0px;
    }

    .textonuestrocafe{
        margin: 1px;
        margin-top: 2%;
        text-align: center;
        font-size: 100%;
        padding: 0px;
    }

    .carrusel2{
        width: 95%;
        margin-top: 2%;
        overflow: hidden;
        justify-content: center;
        position: relative; left: 1%;
    }

    .cafes{
        justify-content: center;
        margin-top: 1%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .main2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        font-size: 135%;
    }

    .section2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        font-size: 100%;
    }

    .iconos {
        display: inline;
        width: 9%;
    }
    
}

@media (min-width:1200px){


    header{
        width: 100%;
        height: 90px;
        background-repeat: no-repeat;
        background-position: center left; 
        background-size: 115%;
        background-color: #E6CCB2;
        list-style: none;  
        overflow: hidden;}

    ul{
        margin-top: 1%;
    }

    li{
        position:relative;  left: 10%;
        display: inline;
        font-size: 120%;
    }    

    main{
        display: grid;
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr 1fr;
        font-size: 100%;
    }

    .main2{
        display: grid;
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr 1fr;
        font-size: 100%;
    }


    section{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        font-size: 100%;
    }

    .section2{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        font-size: 100%;
    }

    .cafes{
        margin-top: 0%;
    }

    .divindex{
        margin-top: 2%;
        font-size: 96%;
    }

    .video{
        margin-top: 0%;
    }

    footer{
        display: grid;
        grid-template-columns: 100%;
        background-position: center bottom -6cm
    }

    .formulario{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .corazon{
        overflow: hidden;
        justify-items: start;
        margin: 2%;
        margin-left: 0px;
        width: 95%;
        padding: 0px;
    }

    .textonuestrocafe{
        margin: 1px;
        margin-top: 7%;
        text-align: left;
        font-size: 160%;
        padding: 0px;
    }

    .producto {
        width: 55%;
        transition: all 2s;
    }

    .iconos{
        display: inline;
        width: 6%;
    }

}