* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px !important;
}

header{
  width: 100%;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center left; 
  background-size: 100%;
  background-color: #E6CCB2;
  list-style: none;  
  overflow: hidden;
  }

  nav {
      color: #fff;
      background-color: transparent;
      width: 100%;
      height: 56px;
      line-height: 56px;}
  
  ul{
      margin-top: 0.5%;
                   }
                   li{
                     position:relative;  left: 10%;
                     display: inline;
                     font-size: 140%;
}    

.soyelboton{
  position:relative;  
  left: 40%;
  display: inline;
  background-color: transparent;


}


#cesta-carrito {
  border: none;
  color: rgb(225, 76, 65);
  font-size: 30px;
}

#cesta-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(225, 76, 65);
}

#cesta-carrito:focus {
  outline: none;
}

#producto-contenedor {
  display: grid;
  gap: 1rem;
  max-width: 100% ;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  line-height: 1.8;
}

.card {
  max-width: 30%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

select {
  display: inline;
  text-align: center;
  border: 1px solid lightskyblue;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: rgb(225, 76, 65);
  padding-bottom: 5px;
}

.modal-carrito #btn-cerrar-carrito {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: rgb(225, 76, 65) !important;
  border: none;
  background-color: white;
}

.modal-carrito #btn-cerrar-carrito:hover {
  cursor: pointer;
}

.modal-carrito #btn-cerrar-carrito:focus {
  outline: none;
}

.modal-carrito .producto-precio {
  padding-top: 10px;
}

.card .card-image .card-title {
  color: rgb(225, 76, 65);
  position: unset
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.productoEnCarrito:hover {
  border-left: 5px solid rgb(225, 76, 65);
}

.boton-eliminar {
  background-color: white;
  color: #ff6961;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}