*{
    margin: 10px;
    padding: 1px;
}

h1{
    color: rgb(0, 0, 0);

}

h2{
    color: rgb(0, 0, 0);
}

header{
    display: grid;
    grid-template-columns: 1fr;
    grid-area: header;
    background-image: url(../Imagenes/horizontal-banner-cup-coffee-beans-260nw-1803607621.webp);
    width: 100%;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center bottom -6cm; 
    background-size: 100%;
    background-color: #E6CCB2;
    list-style: none;  
    overflow: hidden;
}

nav{
    background-position: center;
   }


ul{
    background-position: center;
    position: relative;
    grid-area: nav;
}
li{
    background-size: 100%;
    grid-area: nav;
    position:relative; left: 160px;
    display: inline;
}

li:hover{

}

a{
    text-decoration: none;
    font-weight:bold;
    color:#E6CCB2
    
    
    
}
main{
    display: grid;
    grid-template-rows: 660px ;
    grid-template-columns: 1fr 1fr;
    grid-area: main;
    width: 100%;
    background-color:#E6CCB2;
    text-align: center;
    font-style: initial;
    font-size: 150%;
}

.cafe{
    background-size: 1000px;
    margin: 0px;
    padding: 1px;
    width: 843px;
    height: 533px;
   
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: section;
    width: 100%;
    background-color:#E6CCB2;
    text-align: center;
    font-style: initial;
    font-size: 160%;
    margin: 10px;
    padding: 1px;
    
}

.formulario{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    background-color:#E6CCB2;
    text-align:center;
    font-style: initial;
    font-size: 140%;
    margin: 10px;
    margin-top: 0%;
    padding: 1px;
}

.corazon{
    overflow: hidden;
    justify-items: end;
    margin: -1px;
    margin-left: 1px;
    width: 110%;
    padding: 0px;
}

.divindex{
    margin-top: 6%;
    text-align: justify;
    
}

.textto{
    margin-top: 15%;
}

.video{
    margin: -52px;
    padding: 60px;
    width: 100%;
    height: 100%;
    
}

.carta{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color:#E6CCB2;
    text-align:center;
    font-style: initial;
    font-size: 140%;
    margin: 10px;
    padding: 1;
}

.producto{
    margin: 1px;
    width: 200px;
    padding: 0px;
}

.textocarta{
    margin: 1px;
    font-size: 100%;
    padding: 0px;
}
footer{
    display: grid;
    grid-template-columns: 100%;
    grid-area: footer;
    background-image: url(../Imagenes/cabecera\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center bottom -5cm; 
    background-color: #E6CCB2;
    width: 100%;
    height: 90px;
    background-size: 100%;
    overflow: hidden;
    margin: 10px;
    padding: 1px;
    
}

body{
    display: grid;
    grid-template-areas:
    "header" 
    "main" 
    "section" 
    "footer"
    ;
}
@media (min-width:320px){
    
    header{
        background-position: center left;
        background-repeat: no-repeat; 
        background-size: 115%;
        background-color: #E6CCB2;
        list-style: none;  
        overflow: hidden;
    }

    li{
        position:relative; left: -30px;
        font-size: 103%;
        text-align: left;
        
    }

    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    section{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0fr 0fr 2fr 1fr;
        font-size: 150%;
    }

    footer{
        background-position: center;
    }

    .formulario{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;}

    .corazon{
        overflow: hidden;
        justify-items: end;
        margin: 0px;
        margin-left: 0px;
        width: 100%;
        padding: 0px;
    }

    .carta{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }   
}

@media (min-width:768px){
    header{
        background-position: center left;
        background-repeat: no-repeat; 
        background-size: 118%;
        background-color: #E6CCB2;
        list-style: none;  
        overflow: hidden;
    }
        
    li{
        position:relative; left: 10px;
        font-size: 90%;
    }

    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    section{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0fr 2fr 1fr;
    }

    footer{
        background-position: center bottom -3cm;
    }

    .formulario{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .corazon{
        overflow: hidden;
        justify-items: end;
        margin: 0px;
        margin-left: 0px;
        width: 100%;
        padding: 0px;
    }
}

@media (min-width:1200px){

    header{
        width: 100%;
        height: 90px;
        background-repeat: no-repeat;
        background-position: center left; 
        background-size: 115%;
        background-color: #E6CCB2;
        list-style: none;  
        overflow: hidden;}

    li{
        position:relative; left: 160px;
        display: inline;
        font-size: 100%;
    }    

    main{
        display: grid;
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr 1fr;
        font-size: 107%;
    }

    section{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        font-size: 150%;
    }

    .video{
        margin-top: -74px;
    }

    footer{
        display: grid;
        grid-template-columns: 100%;
        background-position: center bottom -5cm
    }

    .formulario{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .corazon{
        overflow: hidden;
        justify-items: start;
        margin: 0px;
        margin-left: 0px;
        width: 100%;
        padding: 0px;
    }
}